{{setTitle 'Product detail'}}

<article class="product-detail">
    <img src="https://goldleaf.nz/wp-content/uploads/2023/05/102_146_1683614016510_24CTGOLDRADIANTLIGHT_600.jpg">
    <h2>{{productDetails.name}}</h2>
    <p>{{productDetails.description}}</p>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>Key Ingredients:</h3>
    <p>{{productDetails.ingredients}}</p>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>Benefits:</h3>
    <p>{{productDetails.benefits}}</p>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>Skin Type:</h3>
    <p>{{productDetails.skin}}</p>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>Price: ${{productDetails.price}}</h3>

    <h3>|~|~|~|~|~|~|~|~|~|~|~|~|~|~|~|</h3>

    <h3>People Who Recommend: {{recommendCount}}</h3>
</article>

<div class="command">
    {{#if isOwner}}
    <a href="#">Edit</a>
    <a href="/products/{{productDetails.id}}/delete">Delete</a>
    {{else if isAuthenticated}}
    <a href="#">Recommend</a>
    <p>You've already recommended this product!</p>
    {{/if}}
</div>